<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="examinations-list" href="/examinations-list">
      <ion-icon aria-hidden="true" name="search"></ion-icon>
      <ion-label>Untersuchungen</ion-label>
    </ion-tab-button>

    <ion-tab-button id="ausloggen">
      <ion-icon aria-hidden="true" name="log-out"></ion-icon>
      <ion-label>logout</ion-label>
    </ion-tab-button>
    <ion-alert trigger="ausloggen" header="Wollen Sie sich wirklich ausloggen?" [buttons]="alertButtons"></ion-alert>

  </ion-tab-bar>
</ion-tabs>
