<ion-header>
  <ion-toolbar>
    <ion-title class="title">Examination Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-center" fullscreen>
  <ion-grid class="max-width-container" *ngIf="examinationResult">
    <ion-row>
      <div class="detail-card">
        <h5>Patient:</h5>
        <hr>
        <div>
          <div class="property"><strong>Name:</strong><span>{{ examinationResult.Patient?.Name }}</span></div>
          <div class="property"><strong>Age:</strong><span>{{ examinationResult.Patient?.Age }}</span></div>
          <div class="property"><strong>Weight:</strong><span>{{ examinationResult.Patient?.Weight }} kg</span></div>
          <div class="property"><strong>Blood Type:</strong><span>{{ examinationResult.Patient?.BloodType }}</span></div>
        </div>
      </div>
    </ion-row>
    <ion-row>
      <div class="detail-card">
        <h5>Device:</h5>
        <hr>
        <div>
          <div class="property"><strong>Name:</strong><span>EKG</span></div>
          <div class="property"><strong>Room:</strong><span>100</span></div>
        </div>
      </div>
    </ion-row>
    <ion-row>
      <div class="detail-card">
        <h5>Duration:</h5>
        <hr>
        <div>
          <div class="property"><strong>Start Time:</strong><span>09:00</span></div>
          <div class="property"><strong>Time Left:</strong><span>14:59</span></div>
        </div>
      </div>
    </ion-row>
    <ion-row>
      <div class="detail-card">
        <h5>Examination Result:</h5>
        <hr>
        <div>
          <div class="property"><strong>Body Part:</strong><span>{{ examinationResult.Bodypart }}</span></div>
          <div class="property"><strong>Symptom:</strong><span>{{ examinationResult.Symptom?.Name }}</span></div>
        </div>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>
