<ion-header>
  <ion-toolbar>
    <ion-title class="title">Untersuchung</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-center" style="overflow: hidden;" fullscreen>
  <ion-grid class="max-width-container" *ngIf="examination">

    <!-- Patient Card -->
    <ion-row>
      <div class="detail-card">
        <h5>Patient</h5>
        <hr />
        <div>
          <div class="property">
            <strong>Name:</strong
            ><span>{{ examination.ExaminationResult?.Patient?.Name }}</span>
          </div>
          <div class="property">
            <strong>Alter:</strong
            ><span>{{ examination.ExaminationResult?.Patient?.Age }}</span>
          </div>
          <div class="property">
            <strong>Gewicht:</strong
            ><span>{{ examination.ExaminationResult?.Patient?.Weight }} kg</span>
          </div>
          <div class="property">
            <strong>Blutgruppe:</strong
            ><span>{{ examination.ExaminationResult?.Patient?.BloodType }}</span>
          </div>
        </div>
      </div>
    </ion-row>

    <!-- Device Card -->
    <ion-row>
      <div class="detail-card">
        <h5>Gerät</h5>
        <hr />
        <div>
          <div class="property">
            <strong>Name:</strong><span>{{ examination.Device?.Name }}</span>
          </div>
          <div class="property">
            <strong>Raum:</strong
            ><span>{{ examination.Device?.Room?.Name }}</span>
          </div>
          <div class="property">
            <strong>Startzeit:</strong
            ><span>{{ examination.StartTime | date: 'medium' }}</span>
          </div>
          <div class="property">
            <strong>Dauer:</strong
            ><span>{{ examination.Device?.Duration }}s</span>
          </div>
        </div>
      </div>
    </ion-row>

    <!-- Examination Card -->
    <ion-row>
      <div class="detail-card">
        <h5>Untersuchungsergebnis</h5>
        <hr />
        <div>
          <div class="property">
            <strong>Körperteil:</strong
            ><span>{{ examination.ExaminationResult?.Bodypart }}</span>
          </div>
          <div class="property">
            <strong>Symptom:</strong
            ><span>{{ examination.ExaminationResult?.Symptom?.Name }}</span>
          </div>
          <div class="examination-image-container">
            <img class="examination-image" alt="Untersuchung" *ngIf="getImageUrl()" [src]="getImageUrl()">
          </div>
        </div>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>
