<ion-header>
  <ion-toolbar>
    <ion-title class="title">Examinations List</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding custom-background">


  <ion-list-header color="danger">
    <ion-label>Aktuelle Untersuchungen:</ion-label>
  
  </ion-list-header>
<ion-list>
<div *ngIf="names.length === 0">
  <p>Keine aktuellen Untersuchungen</p>
</div>
<ion-item *ngFor="let name of names; let i = index">
  {{ name }}
  <ion-icon name="trash-bin" slot="end" (click)="removeName(i)"></ion-icon>
</ion-item>
</ion-list>
</ion-content>