a {
  text-decoration: none;
  color: var(--ion-text-color);
}

a.disabled {
  pointer-events: none;
}

p {
  margin: .25rem 0rem;
}

.examination-card {
  box-shadow: var(--shadow);
  width: 100%;
  padding: 1rem;
  border-radius: .5rem;
}

ion-progress-bar {
  margin-top: .5rem;
}

.divider {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div-right {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.creator-text {
  font-size: .8rem;
  margin: .5rem 0rem;
}