.custom-background {
    --background: #000000; /* Black background */
  }
  
  .custom-text {
    color: white; /* White text */
    font-size: 1rem;
  }
  
  ion-toolbar, ion-tab-bar {
    --background: #000000; /* Black background for toolbar and tab bar */
    --ion-color-base: #ffffff; /* White text color for toolbar and tab bar */
  }
  
  ion-button {
    --background: #ff0000; /* Red background for button */
    --color: #ffffff; /* White text color for button */
  }
  
  ion-icon {
    color: #ffffff; /* White icon color */
  }
  
  ion-label {
    color: #ffffff; /* White label color */
  }
  
.title {
    font-size: 2rem;
    font-weight: bold;
}
.rounded{
    border-radius: 12px;
}

